body{
    background-color: #D2E0FB;
}

h2{
    font-size: 2.5rem;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    width: 100%;
    table-layout: fixed;
}

tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin:2rem;
}

th{
    font-size: 1em;
    text-transform: uppercase;    
}

th, td{
    text-align: center;
}